@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Pet;
    
        <img class="pet-thumbnail" src="@Model.peturl" />
        
        <div class="pet-name">
            <span>@Model.pettype-@Model.petcolor</span>
        </div>
        <div class="pet-price">
            <span>@Model.price</span>
        </div>
        <div class="pet-list-item">
            <span>Adoption Id-@Model.transactionid</span>
        </div>
        <div class="pet-list-item">
            <span>Adopted on-@Model.adoptiondate</span>
        </div>