<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Observability PetAdoptions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/petstyles.css"/>
</head>
<body>
<div class="pet-wrapper">
    <header class="pet-header">

        <div class="container">
            <article class="row">

                <section class="col-lg-7 col-md-6 col-xs-12">
                    <a asp-controller="home" asp-action="index">
                        <img src="~/images/brand.png" alt="Petadoption"/>
                    </a>
                </section>
                <section class="col-md-2" >
                    <a asp-controller="PetListAdoptions" asp-action="index" id="seeadoptionlist" style="color: #7abaff">
                        See Adoption List
                    </a>
                </section>

                <section class="col-md-3">
                    <a asp-controller="Home" asp-action="HouseKeeping" id="performhousekeeping" style="color: #7abaff">
                        Perform Housekeeping
                    </a>
                </section>
            </article>

        </div>
    </header>
    @RenderBody()


</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>