<!--
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: Apache-2.0
-->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ca.petsearch.TracingLogFilter"/>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter" />
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="debug">
        <appender-ref ref="stdout" />
    </root>

    <!-- LOG "ca.petsearch" at DEBUG level -->
    <!-- <logger name="ca.petsearch" level="debug" additivity="false" /> -->

    <!-- Fix for EC2MetadataUtils described in https://docs.spring.io/spring-cloud-aws/docs/2.2.3.RELEASE/reference/html/\#\#amazon-sdk-configuration -->

    <logger name="com.amazonaws.util.EC2MetadataUtils" level="error" additivity="false" />
    <logger name="com.amazonaws.internal.InstanceMetadataServiceResourceFetcher" level="error" additivity="false" />


</configuration>