- job_name: kubecost
  honor_labels: true
  scrape_interval: 1m
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  dns_sd_configs:
    - names:
        - kubecost-cost-analyzer # Note: this is the URL of the kube-cost-analyzer.<namespace> 
      type: "A"
      port: 9003