@{
    ViewData["Title"] = "House Keeping";
}

<section class="pet-hero">
    <div class="container">
        <img class="pet-hero-title-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="alert-success">
    Housekeeping complete!
</div>